<html>


<h1>Welcome To My Fat Free API</h1>

<table border='1'>

	<tr>
		<th>Parent Component</th>
		<th>Sub Action</th>
		<th>Description</th>
	</tr>
	
	<tr>
		<td>/init</td>
		<td>Setup all the file</td>
		<td><a href="./init">Init</a></td>
	</tr>
	<tr>
		<td>/contributors</td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td></td>
		<td><a href="./contributor/all">/all</a></td>
		<td>Get all in json</td>
		
	</tr>
	<tr>
		<td>/companies</td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td></td>
		<td><a href="./sponser/all">/get</a></td>
		<td>/all</td>
		
	</tr>	
	<tr>
		<td>/sponsers</td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td></td>
		<td><a href="./coy/all">/get</a></td>
		<td>Get all in json</td>
		
	</tr>		
</table>

</html>