#main-container {
	margin: 0 auto;
	width:80%;
}

h5 {
	text-align:left;
	color: #42b983;
	font-size: 1.3em;
	font-weight: 300;
	margin: 0;
	padding: 0.5em 0;
}

.b-green {
	color: #42b983;
	font-size: 1em;
	font-weight: 300;	
}	

/* img */
.placeholder {
    background-color: #eee;
    display: flex;
    height: 80px;
	width: 80px;
	
    margin: 10px auto;
	border-radius: 50%;
}

.font-small {
	font-size: 0.8em;
	color: #7f8c8d;
}


#footer {
	background-color:#efefef;
	height:120px;
	margin-top: 50px;
}

p {
	text-align:left;
}